<div class="admin-search-container">
  <div class="edit-category"><a href="/admin/create/category">新增類別</a> </div>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="px-0 edit">
          <a href="/admin/category/{{this.id}}/edit">
            Edit
          </a>
        </button>
        <form action="/admin/category/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="px-0 delete">Delete</button>
        </form>
      </td>
    </tr>
    {{!-- model --}}
    <div class="modal fade" id="productInfo{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{this.name}}</h5>
          </div>
          <div class="modal-body">
            <div class="productImg" style="background-image: url('{{this.image}}');">
            </div>
            <div class="info">
              <div class="info-item"><strong>名稱：</strong>{{this.name}}</div>
              <div class="info-item"><strong>類別：</strong>{{this.Category.name}}</div>
              <div class="info-item"><strong>價格：</strong>NT {{this.price}}</div>
              <div class="info-item"><strong>簡介：</strong>{{this.description}}</div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </tbody>
</table>