<nav class="search-bar">
  <div class="search">
    <form class="d-flex" action="/product/search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <div class="category-wrapper">
    {{#each category}}
    <button type="buttom" class="category-btn">
      <a class="category" href="/">{{this.name}}</a>
    </button>
    {{/each}}
  </div>

</nav>
<div class="container">
  {{#each products}}
  <div class="product-container">
    <div class="product-wrapper" style="background-image: url({{this.image}});">
      <div class="sub-wrapper">
        <div class="name">{{this.name}}</div>
        <div class="price">NT {{this.price}}</div>
      </div>
      <div class="product-btn">
        <form action="/" method="POST" class="form-btn info-icon">
          <button type="submit" class="btn btn-light">
            <i class="fas fa-info"></i>
          </button>
        </form>
        <form action="/like/{{this.id}}" method="POST" class="form-btn heart-icon">
          <button type="submit" class="btn btn-light">
            <i class="far fa-heart"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>